<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://testsiterp.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>00000000-0000-0000-0000-000000000000</ProjectGuid>
    <MSDeployServiceUrl>https://site73880.siteasp.net:8172/msdeploy.axd</MSDeployServiceUrl>
    <DeployIisAppPath>site73880</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>site73880</UserName>
    <_SavePWD>true</_SavePWD>
    <Password>Cp9%#5Qcy_6J</Password>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <AuthType>Basic</AuthType>
    <UseMsDeployExe>true</UseMsDeployExe>
    <MSDeployPath>C:\Program Files\IIS\Microsoft Web Deploy V3</MSDeployPath>
  </PropertyGroup>
</Project>