<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ragipool-001-site1.smarterasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>00000000-0000-0000-0000-000000000000</ProjectGuid>
    <MSDeployServiceUrl>https://win6245.site4now.net:8172/MsDeploy.axd?site=ragipool-001-site1</MSDeployServiceUrl>
    <DeployIisAppPath>ragipool-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>ragipool-001</UserName>
    <_SavePWD>true</_SavePWD>
    <Password>Story6868@</Password>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <AuthType>Basic</AuthType>
    <UseMsDeployExe>true</UseMsDeployExe>
    <MSDeployPath>C:\Program Files\IIS\Microsoft Web Deploy V3</MSDeployPath>
  </PropertyGroup>
</Project>
